@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
img{
    width: 100vw;
    background-size: cover;
}
a{
    background-color: brown;
    display: block;
    text-decoration: none;
    font: bolder arial;
    color: white;
    text-align: center;
    padding: 15px;
    margin-left: 2.5px;
}
a:hover{
    background-color: red;
}