@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body{
    background: url(../imagens/fundo-madeira.jpg) no-repeat fixed;
    background-size: cover;
}
main{
    position: relative;
}
#nav img{
    width: 30px;
    border-radius: 50%;
    box-shadow: 1px 1px 1px solid white;
    box-sizing: border-box;
    margin: 10px;
}
#nav img:hover{
    border: 2px solid rgba(255, 255, 255, 0.671);
    transform: translate(-3px, -3px);
    transition: transform 0.5s
}
section#nav{
    text-align: right;
}
section#iphone{
    position: absolute;
    top: 116%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(../imagens/frame-iphone.png) no-repeat center top;
    background-size: cover;
    height: 627px;
    width: 311px;
}
section > iframe{
    position: absolute;
    top: 11%;
    left: 3%;
    height: 473px;
    width: 270px;
    padding: 10px;
}
